@import './mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  padding: 0;
}
body {
  min-height: 100vh;
  background: rgb(9, 9, 121);
  background: linear-gradient(0deg, rgb(0, 100, 255) 0%, rgb(0, 212, 255) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}
.App {
  color: #282c34;
  .container {
    max-width: 500px;
    margin: auto;
    padding: 5rem 0;
  }
  .formArea {
    background: whitesmoke;
    border-radius: 0.5rem;
    border: 0;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    h1 {
      margin-bottom: 1rem;
    }
    label {
      font-size: 2rem;
      font-weight: bold;
    }
    .formInput {
      // -webkit-appearance: none;
      // appearance: none;
      background: white;
      font-size: 1.5rem;
      line-height: 1.75;
      margin: 0.5rem 0 1rem;
      padding: 0 1rem;
      border: 1px solid gray;
      border-radius: 0.25rem;
      width: 100%;
    }
    .error {
      min-height: 2rem;
      font-size: 1.5rem;
      color: #dc3545;
      margin: 0 0 1rem;
    }
    .btn {
      @include button(#007bff);
    }
  }

  .issue {
    background: whitesmoke;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    .btn {
      @include button(#dc3545);
      border-radius: 0.5rem 0 0 0.5rem;
    }
    .edit {
      @include button(lighten(#007bff, 10%));
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
  .dark {
    background: rgb(225, 225, 225);
  }
}
